.contenedor {
	position: relative;
	width: 100%;
	margin: 0 auto;
	transition: all 0.3s ease-out;
	margin-top: 50px;
	margin-bottom: 20px;
	display: block;
}
.contenedor-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.contenedor-card-item {
		box-sizing: border-box;
		box-sizing: border-box;
		box-sizing: border-box;
		width: 25%;
		margin: 1%;
		-webkit-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
		border-radius: 5px;
		cursor: help;
		&:hover {
			box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
			-webkit-transform: translateY(-10px);
			-ms-transform: translateY(-10px);
			-o-transform: translateY(-10px);
			transform: translateY(-10px);
		}
	}
}
.contenedor-card-item-wrapper {
	overflow: hidden;
	position: relative !important;
	background: #3E2723;
	border-radius: 5px;
}
.contenedor-card-item {
	img {
		max-width: 100%;
		position: relative;
		top: 0;
		-webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		border-radius: 5px;
	}
	.contenedor-info {
		position: absolute;
		width: 100%;
		height: 70px;
		bottom: -70px;
		-webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
		transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
		.fondo {
			background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.73) 53%, rgba(0, 0, 0, 0.88) 100%);
			background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.73) 53%, rgba(0, 0, 0, 0.88) 100%);
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.73) 53%, rgba(0, 0, 0, 0.88) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#e0000000', GradientType=0);
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
		.info {
			color: $color_12;
			position: relative;
			z-index: 500;
			padding: 20px 15px;
			.titulo {
				margin: 0;
				font-size: 20px;
			}
			.categoria {
				display: block;
				font-size: 10px;
			}
		}
	}
	&:hover {
		.contenedor-info {
			bottom: 0;
		}
		img {
			top: -30px;
			-webkit-transform: rotate(-5deg) scale(2);
			-ms-transform: rotate(-5deg) scale(2);
			-o-transform: rotate(-5deg) scale(2);
			transform: rotate(-5deg) scale(2);
		}
	}
}
.video-responsive {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
	}
	object {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
	}
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
	}
}

.center {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	min-height: 10vh;
}