s::-webkit-scrollbar {
    display: none;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

.text-center {
	text-decoration: underline;
	text-align: center;
	background-color: $background-color_6;
	font-size: 200%;
	text-shadow: 0px 10px 6px #22333B;
	background-color: $background-color_7;
	font-family: $font-family_2;
	text-align: center;
}