/*MIXIN*/

@mixin anclas {

    &:link {
        text-decoration: none;
    }

    &:visited {
        text-decoration: none;
    }
}





header {
    background-color: $background-color_5;
}

.logo {
    margin-block: 10px;
    width: 150px;
    height: 115px;
    animation: rotar 10s linear infinite;
    position: relative;

    &:hover {
        cursor: pointer;
    }
}

ul {
    li {
        a {
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background: #ffee10;
                transition: .5s;
                transform: scale(.9);
                z-index: -1;
            }

            &:hover {
                &::before {
                    transform: scale(1.1);
                    box-shadow: 0 0 15px #ffee10;
                }

                color: $color_9;
                box-shadow: 0 0 5px #ffee10;
                text-shadow: 0 0 5px #ffee10;
            }
        }
    }
}

li {
    font-size: medium;
    font-family: $font-family_3;
}

img {
    .centrado {
        width: 100%;
        height: fit-content;
    }
}

.d-img {
    height: 30vw;
    width: 100%;
}

div {
    .subrayado {
        width: 90%;
        box-sizing: content-box;
        text-align: center;
        margin-left: auto;
        text-transform: uppercase;
        font-family: $font-family_2;
        box-shadow: 3px 3px 3px;
        text-decoration: underline;
    }
}

p {
    text-transform: uppercase;
    width: 100%;
    height: auto;
    font-family: $font-family_2;
    margin: auto;
}

input {
    padding: .8em 1em;
    border-radius: 5px;
    border: navy;
    background-color: $background-color_2;
    width: 100%;
    background-color: $background-color_3;
    font-size: 1, 2rem;
    color: $color_3;
    letter-spacing: .5px;
}

a {
    @include anclas;
}

span {
    color: $color_13;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out infinite;
}

.navbar-nav {
    width: 100%;
    text-align: center;
}

.nav-item {
    left: 0%;
    margin: auto;
    font-family: $font-family_2;
    font-weight: 600px;
    margin-left: 30px;
    padding: 25px;
}

.textsam {
    color: $color_11;
    line-height: 1.3em;
    font-style: italic;
    font-size: larger;
    font-family: $font-family_5;
    text-transform: uppercase;
    padding: 5%;
    border: 3px solid violet;
    border-radius: 5px;
}

.textsam1 {
    align-items: center;
    text-decoration: solid;
    text-align: center;
    height: 40%;
}

.ring {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: ring 2s linear infinite;

    &:before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(255, 255, 255, .3);
    }
}


.img-fluid {
    figure {
        img {
            filter: grayscale(100%);
            filter: grayscale(100%);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }

        &:hover {
            img {
                filter: grayscale(0);
                filter: grayscale(0);
            }
        }
    }

    box-shadow: 0px 10px 5px;
    width: 40%;
    height: 40%;
    margin-left: 30%;
    border: 3px solid blue;
}



.whatsapp-icon {
    margin-top: 10px;
}

.buttons {
    align-items: center;
    display: flex;
    padding: 50px;
    min-width: 300px;
    display: flex;
    justify-content: space-between;

    a {
        text-decoration: none;
        font-size: 20px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: #314652;
        color: $color_4;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
        transition: all .4s ease-in-out;

        &:hover {
            transform: scale(1.2);
        }
    }
}