$color_1: white;
$color_2: blueviolet;
$color_3: #6fcf38;
$color_4: #f1f1f1;
$color_5: #ffffff;
$color_6: rgb(39, 65, 40);
$color_7: #4c3f8e;
$color_8: #fb0606;
$color_9: #ffee10;
$color_10: chartreuse;
$color_11: hsl(0, 0%, 0%);
$color_12: #fff;
$color_13: #737373;
$font-family_1: 'Roboto', sans-serif;
$font-family_2: 'Open Sans', sans-serif;
$font-family_3: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$font-family_4: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
$font-family_5: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$background-color_1: #24303c;
$background-color_2: transparent;
$background-color_3: #ffffff93;
$background-color_4: lightslategray;
$background-color_5: black;
$background-color_6: #005aa7;
$background-color_7: #8AA39B;